<div class="jumbotron">
    <h1>Projeto da Torre de Hanoi</h1>
    <p class="lead">Este é um exemplo de implementação da Torre de Hanoi usando WebApi.</p>
    <p></p>
    <p><a href="https://github.com/marcosacaraujo/torredehanoi" class="btn btn-primary btn-lg">Link do GitHub &raquo;</a></p>
</div>